/* Safari 4.0 - 8.0 */
@-webkit-keyframes animationLeftRight {
  0% {width: 0%;}
  100% {width: 100%;}
}

/* Standard syntax */
@keyframes animationLeftRight {
  0% {width: 0%;}
  100% {width: 100%;}
}