:root {
  --asideBg: #000;
  --vh100: 100vh;
  --per100: 100%;
  --fixed: fixed;
  --wdth50:50px;
  --wdth30:30px;
  --bannerHeight:auto;
  @media(min-width:992px){
    --bannerHeight:calc(150px + 10vw);
  }
}

.aside-nav {
  background-color: var(--asideBg);
  height: var(--per100);
  width: var(--wdth50);
  z-index:99;
  @include fixedLeft(fixed, 0px, 0px);
  @include animation(all,0.5s,ease);
  &>button{
    margin-left: 8px;
    margin-top: 10px;
    margin-bottom: 50px;
    .fa-align-left{
      @include animation(all,0.5s,ease);
      transform: rotate(0deg);
      position: relative;
      &:before {
        content: "\f036";
      }
    }
  }
  & ul.cus-navbar {
    list-style: none;
    position: relative;
    padding-left: 0px;
    li {
      overflow: hidden;
      width: 100%;
      display: block;
      a {
        white-space: nowrap;
        display:flex;
        width: 100%;
        color: #fff;
        padding:10px;
        justify-content: center;
        align-items: center;
         span{
           left: 42px;
           display: none;
           position: absolute;
        }
      }
      //end a
    }
    //end li
  }
  //end ul
 &.open{
   width:300px;
   & ul.cus-navbar{
     li{
       a{
         justify-content: flex-start;
         span{
           display: inline-block;
         }
       }
     }
   }

   button .fa-align-left{
     transform: rotate(90deg);
     &:before {
       //content: "\f036";
       content: "\f00d";
     }
   }
 }
}
//end aside-nav

@media(min-width:0px){
  .aside-nav + #wrapper{
    margin-left: var(--wdth50);
    .navbar-brand{
      padding-left: 10px;
    }
  }
}