//home page banner
.hero{
  height:var(--bannerHeight);
  background-color: $gray-800;



  &>*{
    height:100%;
  }
}

.title1{
  font-size: calc(2rem - 0.2vw);
  & + p{
    font-size:calc(80% + 0.2vw);
  }
}
