.navbar-brand {
  color: $red;
  font-size: 1.2rem;
}

.header-search {
  padding: 10px;
  .searchinput {
    position: relative;
    border-radius: 3px;
    overflow: hidden;

    input[type="search"] {
      height: 40px;
      border:none;
      background-color: #efefef;
      border-radius: 0px;
      padding-left:60px;
    }
    .search-btn {
      position: absolute;
      left: 0px;
      top: 0px;
      height: 100%;
      width:var(--wdth50);
      background: $red;
      border: 0px;
    }
  }
}

