//grid loop
$slag-name:d-grid !default;
$slag-radius:radius !default;
$gap:1rem !default;
$radiusValue:0.2 !default;

$breakPoint:(sm:300px,md:768px, lg:992px, xl:1200px, xxl:1400px);
@each $breaker,$breakerNum in $breakPoint{
  @media (min-width:$breakerNum) {
    @for $i from 1 through 6{
      .#{$slag-name}-#{$breaker}-#{$i}{
        grid-template-columns: repeat($i,1fr);
      }
      .#{$slag-radius}-#{$breaker}-#{$i}{
        border-radius:#{0.2 + $radiusValue}rem !important;
      }
    }
  }
}

.d-grid{
  display: grid !important;
  line-height:$gap;
}
.d-grid-gap-1{
  grid-column-gap:$gap;
  grid-row-gap:$gap;
}

