
/* Tabs Card */

.tab-card-header {
  background:none;
}
/* Default mode */
.tab-card-header > .nav-tabs {
  border: none;
  margin: 0px;
}
.tab-card-header > .nav-tabs > li {
  margin-right: 2px;
}
.tab-card-header > .nav-tabs > li > a {
  border: 0;
  border-bottom:2px solid transparent;
  margin-right: 0;
  color: #737373;
  padding: 2px 15px;
}

.tab-card-header > .nav-tabs > li > a.show {
  border-bottom:2px solid #007bff;
  color: #007bff;
}
.tab-card-header > .nav-tabs > li > a:hover {
  color: #007bff;
}

.tab-card-header > .tab-content {
  padding-bottom: 0;
}

@media(min-width:992px){
  .tab-card{
    .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
      border-color:transparent;
    }
    .card-header-tabs{
      li{
        display: inline-block;
        width:100%;
        position: relative;
        .tab-title{
          margin-left: 20%;
          margin-bottom: 2rem;
          h3{
            font-weight: bold;
            font-size: 2rem;
          }
        }
        a{
          margin-left: 20%;
          background-color:transparent !important;
          display: inline-block;
          z-index: 9;
          align-items: center;
          padding:0px !important;

          span{
            padding:5px!important;
            display: block;
            white-space: nowrap;
            position: relative;
            z-index:9;
            background-color: #fff;
          }
          &.active{
            color: #171abf;
            font-weight: bold;
          }
          &.active:before{
            left: 0px;
            top: 18px;
            background-color: #171abf;
            position: absolute;
            width: 100%;
            height:3px;
            content: "";
            z-index:1;
            -webkit-animation: animationLeftRight 0.5s 1; /* Safari 4.0 - 8.0 */
            animation: animationLeftRight 0.5s 1;
          }
        }
      }
    }
  }
}

.col-1lg-3sm{
  &.col-sm-size{
    li{
      min-height: 50px;
    }
  }
  &.col-large-size{
    li{
     min-height:250px;
    }
  }
 li{
   box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.18);
   border-radius: 5px;
   overflow: hidden;
 }
  li:last-child{
    box-shadow: none;
  }

  .last-box-info{
    span:last-child{
      font-size: 1.5rem;
      position: relative;
      color: #171abf;
    }
  }
}
