/*
Theme Name: Quora

Adding support for languages written in a Right To Left (RTL) direction is easy -
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

*/
body {
    direction: rtl;
    unicode-bidi: embed;
    text-align: right;
}

.navbar-brand {
    margin-left: 1rem;
    margin-right: 0;
}

.ml-auto {
    margin-right: auto !important;
    margin-left: 0 !important;
}

.dropdown-toggle::after {
    margin-left: 0em;
    margin-right: 0.255em;
}

.navbar-dark .navbar-nav .dropdown-menu a {
    text-align: right;
}

blockquote {
    border-left: 0;
    border-right: 3px solid rgba(33, 37, 41, 0.25);
}

.sidebar-1-area .widget ul, .footer-widgets .widget ul {
    padding-right: 20px;
}

.comments-area .logged-in-as {
    padding-right: 15px;
}

.oi-chevron-right:before {
    content: '\e035';
}

.widget-area .star-rating:before {
    margin-right: 30px;
    float: right;
    left: auto;
    right: 0;
}
